@media (max-height : 900px) {
    #underLayer, #aboveLayer {
        height:140%
    }
}

/*ZAPRAVO JE MAX WIDTH 1920*/
@media screen 
  and (min-width: 1700px) 
  and (max-width: 2140px) {
    @keyframes fadeLeft {
        0% {right:400px;opacity:0}
        100% {right:-50px;opacity:1}
    }
    #underLayer, #aboveLayer {
        position:absolute;
        top:-300px;
        height:200%;
    }
    #navbar {
        position: absolute;
        left:350px;
    }
    #intro-text {
        font-size:90px;
        left:100px;
    }
    #order-btn {
        position: absolute;
        top:650px;
        left:880px;
        transform: scale(1.4);
    }
    #pizza-thumbnail {
        position: absolute;
        top:800px;
        left:115px;
        transform: scale(1.2);
    }
    #first-row{
        margin-left:90px;
    }
    #button1 {
        top:2225px;
        left:20px;
    }
    #jelovnik-btn {
        position: absolute;
        top:2425px;
        left:40%;
    }
    #iframe {
        position: relative;
        left:25%;
        transform: scale(1.1);
    }
    .vracar {
        position: absolute;
        left:450px;
    }
    #thumbnail1{
        margin-left:180px;
    }
    #thumbnail2{
        margin-left:100px;
    }
    #thumbnail3{
        margin-left:50px;
    }
    #thumbnail4{
        margin-left:50px;
    }
    #food-row {
        max-width: 80%;
    }
    .column {
        transform: scale(1.05);
    }
    #get-up-btn {
        top:91%;
    }
}

@media (max-width:1280px){
 body {
     display:none;
 }
}
@media (min-width:1280) and (max-width:1370px){
    #pizza-thumbnail {
        position: absolute;
        top:800px;
        transform: scale(1.2);
    }
}